In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

pd.read_csv(r'../output_data/cities.csv')

,Unnamed: 0,city,latitude,temperature,humidity,cloudy,wind speed
0,0,Zheleznodorozhnyy,55.75,59.59,93,0,6.71
1,1,Souillac,-20.52,64.40,77,75,12.75
2,2,Rikitea,-23.12,66.29,62,0,18.54
3,3,Upernavik,72.79,49.69,64,100,6.11
4,4,Kapaa,22.08,81.03,65,20,17.22
...,...,...,...,...,...,...,...
549,549,Río Gallegos,-51.62,24.80,92,0,3.36
550,550,Flin Flon,54.77,70.50,60,73,7.72
551,551,Shelburne,44.08,68.32,77,75,2.68
552,552,Seybaplaya,19.65,78.80,88,90,13.87
553,553,Matadi,-5.82,68.25,86,10,2.77